<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List of tasks</title>
</head>
<body>
<main>
    <div id="contain" style="padding: 100px;">
        <dl th:each="task : ${tasks}">
            <dt>
                <label>
                    <a th:href="@{'/tasks/toggle/'+ ${task.id} +'?fromGroupId='+${fromGroupId} }">
                    <span th:unless="${task.done}" th:text="${task.description}" ></span>
                    <del th:if="${task.done}" th:text="${task.description}"></del>
                    </a>
                    <small th:text="|(${task.deadline})|"></small>
                </label>

            </dt>
            <dd>
            </dd>
        </dl>
    </div>
</main>
</body>
</html>